* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Lato", sans-serif;
    background-color: #F8FAFC;
    color: #0F172A;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);

}

.nav-links {
    display: flex;
    gap: 1rem;
}

.navbar a {
    text-decoration: none;
    color: #4F46E5;
}

.navbar h1 {
    font-size: 1.5rem;
    color: #4F46E5;
    margin: 0;
}

.menu-toggle {
    display: none;
}

@media(min-width:300px) and (max-width:400px) {
    .nav-links {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    min-height: 350px;
}

.hero-content {
    width: 400px;
}

.hero-content a {
    text-decoration: none;
    color: #4F46E5;
    font-size: 1.25rem;
}

.hero-content h1 {
    color: #4F46E5;

}

.hero-content p {
    color: #0F172A;
    font-size: 1.25rem;
}

.hero-image {
    width: 400px;
    padding: 1rem;
}

.hero-image img {
    height: 300px;
}

@media(min-width:300px) and (max-width:400px) {
    .hero {
        flex-wrap: wrap;
    }

    .hero-content {
        width: 300px;
    }

    .hero-image {
        width: 300px;
        margin-top: 0.5rem;
    }

}

.purpose {
    padding: 1rem;
}

.purpose h2 {
    color: #4F46E5;
}

.features {
    display: flex;
    justify-content: space-evenly;

}

@media(min-width:300px) and (max-width:400px) {
    .features {
        flex-wrap: wrap;
    }

    .feature {
        margin-top: 0.5rem;
    }

}

.feature {
    text-align: center;
    background-color: #FFFFFF;
    /* border: 2px solid #E2E8F0; */
    padding: 1rem 1.25rem;
    box-shadow: 1px 1px 2px #d5d5de;
}

.feature:hover {
    box-shadow: 4px 4px 10px #232324;
}


.feature h3 {
    color: #4F46E5;
}

.feature p {
    font-size: 1.25rem;
    color: #0F172A;
}

.working {
    padding: 1rem;
}

.working h2 {
    color: #4F46E5;
}

.list-elements {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.list-elements span {
    color: #4F46E5;
    font-size: 2rem;
    font-weight: 700;
}

.list-elements li {
    padding: 2rem;
}

@media(min-width:300px) and (max-width:400px) {
    .list-elements {
        flex-wrap: wrap;
    }

}

footer {
    background-color: #FFFFFF;
    padding: 1rem;
}

.brand-section {
    font-size: 1rem;
    line-height: 1.5;
}

.change {
    font-weight: 600;
}

.brand-section p {
    color: #0F172A;
}

.footer-links a {
    text-decoration: none;
    padding: 0.5rem;
    color: #4F46E5;
    font-weight: 600;
}

.foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media(min-width:300px) and (max-width:400px) {
    .foot {
        flex-wrap: wrap;
    }

}